.aboutcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #9B1D20;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 10px;
}

.abouttext {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
}

.abouttext h2 {
  color: #7A93AC;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.abouttext p {
  color: #F1FFFA;
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
}

.aboutimage {
  flex: 1;
  max-width: 500px;

}

.aboutimage img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 768px) {
  .aboutcontainer {
    flex-direction: row;
  }
}