section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #26C485;
    padding: 2rem;
  }
  
section h2 {
    color: #E3C16F;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    width: 100%;
}

form label {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

form input,
form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #E3C16F;
    background-color: #26C485;
}

form button {
    background-color: #E3C16F;
    color: #26C485;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

form button:hover {
    background-color: #A4031F;
    color: #E3C16F;
}

.error {
    color: #E3C16F;
    font-size: 1rem;
    margin-top: 0.5rem;
}