footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #617073;
    padding: 1rem;
  }
  
  footer a {
    color: #F1FFFA;
    text-decoration: none;
    margin: 0 1rem;
    transition: color 0.3s;
  }
  
  footer a:hover {
    color: #9B1D20;
  }  