.aside {
  background-color: #617073;
  width: 250px;
  height: 100%;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  overflow: auto;
}

.asideVisible {
  transform: translateX(0);
}

.aside ul {
  list-style: none;
  padding: 0;
}

.aside ul li {
  display: flex;
  justify-content: center;
  margin: 0.5rem 1rem;
}

.aside ul li a {
  display: inline-block;
  color: #9B1D20;
  font-size: larger;
  text-decoration: none;
  transition: color 0.3s;
  background-color: #7A93AC;
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  text-align: center;
  width: 100%;
}

.aside ul li a.active,
.aside ul li a:hover {
  color: #F1FFFA;
}

.fiMenu {
  font-size: 1.5rem;
  color: #F1FFFA;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}